<%= form_for(@air_quality_log) do |f| %>
  <% if @air_quality_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@air_quality_log.errors.count, "error") %> prohibited this air_quality_log from being saved:</h2>

      <ul>
      <% @air_quality_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sensor_id %><br>
    <%= f.text_field :sensor_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
