<!DOCTYPE html>
<html>
<head>
  <title>Smartgreen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">國眾綠能管理平台</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首頁 <span class="sr-only">(current)</span></a></li>
        <!-- <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
 <!--      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul> -->
    </div>
  </div>
</nav>
	
<div class="container" style="min-height: 800px;">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>
</div>

<br/><br/>
<footer id="footer" style="background-color: #A09999;">
  <div class="container">
    <p>建議最佳瀏覽環境為IE6.0以上版本 螢幕解析度1024*768</p>
    <p>本網站由國眾電腦股份有限公司建置。</p>
    <p>本網站版權所有：國眾電腦股份有限公司，本網頁各連結及內容歸原權利人所有</p>
    <p>國眾電腦地址：台北市內湖區陽光街298號3樓　　</p>
    <p>客服信箱: 178adwords@leosys.com</p>
    <p>網站管理單位：國眾電腦&nbsp;&nbsp;系統問題請電電話：02-27996789</p>
    <p>Copyright ©,1998-2014 國眾電腦股份有限公司. All Rights Reserved.</p>
  </div>

</footer>

</body>
</html>
